body {
    font-family: Arial, sans-serif;
    background-color: #d20a0a;
    color: #222;
    margin: 0;
}

header {
    padding: 20px;
    border-bottom: 2px solid #f40404;
}

.card-container {
    display: flex;
    gap: 20px;
    margin: 30px;
}

.card {
    padding: 20px;
    border: 2px solid #eb1010;
    flex: 1;
}

.title {
    font-size: 28px;
}
